<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/socket.io.min.js"></script>
    <script src="../static/js/jquery-3.4.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/webchat.js"></script>
    <style>
    .container-fluid {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.bottompadded {
    padding-bottom: 20px;
}
.toppadded{
    padding-top: 20px;
}
.col-first {
  height:350px;
  overflow: scroll;
}
.rounded {
    border-radius:.25rem!important
}
    </style>
</head>
<body style="background-color:#edffff;">
<div class="container rounded bg-dark">
    <h1>
              <span>Big Minds <b>App</b></span>
                <a href="/logout" role='button' class='btn btn-primary float-right'>Logout</a>
   </h1>
    </div>
<div class="d-flex flex-row">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-5">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
<div class="row rounded border-bottom border-secondary bottompadded">
<div class ="col" style="padding-right:20px; padding-left:20px; border-right: 1px solid #ccc;">
    <button id="switchbackButton" class="btn btn-primary">All</button>
    <button id="switchButton" class="btn btn-primary">Channel</button>
    <div class='container mt-5'  id='submitForm'>
        <fieldset id="toggleFieldset">
            <div class="card-header">
                Send a message
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="myMessage" placeholder="What's up?">
            </div>
            <button id="sendButton" class="btn btn-primary">Send</button>
        </fieldset>
    </div>
    <div class='d-none container mt-5'  id='submitchanForm'>
        <fieldset id="toggleFieldset">
            <div class="card-header">
                Send a message
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="mychanMessage" placeholder="What's up?">
            </div>
            <button id="sendchanButton" class="btn btn-primary">Send</button>
        </fieldset>
    </div>
</div>
<div class="col">
<div class='container mt-5'>
<div class="card-header" style="padding-bottom:15px">
               <h4> Upcoming Class Feed</h4> <h6 class="card-subtitle mb-2 text-muted"><span id="datetime"></span></h6>
            </div>
 <h5 class="card-title" style="padding-top:20px">Click on a link to start learning &#10549;</h5>
</div>
</div>
</div>
<div class="row toppadded">
<div class ="col col-first" style="padding-right:20px; padding-left:20px; border-right: 1px solid #ccc;">
{% if chat_enabled == True %}
    <div class='container mt-5' id="messagesContainer">
        {% for message in messages %}
            <div class="card mb-2">
                <div class="card-header">
                    {% if message.name == '' %}
                        <h5 class="card-title">Anonymous</h5>
                    {% else %}
                        <h5 class="card-title">{{ message.name }}</h5>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ message.date_posted }}</h6>
                </div>
                <div class="card-body">
                    {% if message.content == '' %}
                        I forgot to add a message.
                    {% else %}
                        {{ message.content }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
        <div class='d-none container mt-5' id="channelContainer">
        {% for channel in channels %}
            <div class="card mb-2">
                <div class="card-header">
                    {% if channel.name == '' %}
                        <h5 class="card-title">Anonymous</h5>
                    {% else %}
                        <h5 class="card-title">{{ channel.name }}</h5>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ channel.date_posted }}</h6>
                </div>
                <div class="card-body">
                    {% if channel.content == '' %}
                        I forgot to add a message.
                    {% else %}
                        {{ channel.content }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class ="col col-first">
    <div class="container mt-5" id="notificationsContainer">
        {% for notification in notifications %}
            <div class="card mb-2">
                <div class="card-header">
                        <h5 class="card-title">{{ notification.nameclass }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ notification.now }}</h6>
                </div>
                <div class="card-body">
                    {{ notification.linkcont }}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}

    <div class="container">
        <div class="alert alert-info center-block" role="alert">
            <p class="text-center">Chat feature is currently disabled, check back later!</p>
        </div>
    </div>
{% endif %}
</div>
</div>
<hr/>
<div class="row toppadded">
<div class="col col-first" style="padding-right:20px; padding-left:20px; border-right: 1px solid #ccc;">
<button type="button" id="calendly-button" class="btn btn-primary">Calendly</button>
<button type="button" id="form-button" class="btn btn-primary">Built-In Form</button>
<div class="d-none" id="formContainer">
<!--     <table>
        <tr valign="top">
            <td><img src="{{ current_user.avatar(128) }}"></td>
            <td><h1>User: {{ current_user.name }}</h1></td>
        </tr>
    </table> -->
        <div class="card border border-info mb-3">
            <div class="card-header">Schedule an Appointment</div>
            <div class="card-body">
                <div>
                    <form class="form mt-2" method="POST">
                        {{ appt_form.hidden_tag() }}
                        <div class="input-group mb-2">
                            {{ appt_form.user_list.label(class="form-control-label mr-3") }}
                            {{ appt_form.user_list(class_="form-control") }}
                        </div>
                        <div class="input-group mb-2">
                            {{ appt_form.time.label(class="form-control-label mr-3") }}
                            {{ appt_form.time(class_="form-control") }}
                        </div>
                        <div class="input-group mb-2">
                            {{ appt_form.dow.label(class="form-control-label mr-3") }}
                            {{ appt_form.dow(class_="form-control") }}
                        </div>
                        <div class="input-group mb-2">
                            {{ appt_form.submit_1(class_="form-control btn-outline-success") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>        
<!-- Calendly inline widget begin -->
<div id="calendlyContainer">
<div class="calendly-inline-widget" data-url="https://calendly.com/daortellado?primary_color=18bc9c" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
</div>
<!-- Calendly inline widget end -->
    </div>
<div class="col col-first">
 <h5 class="card-title" style="padding-top:20px">Meeting with a teacher? &#10549;</h5>
<!-- <h2>Latest enrolled in:</h2>
{{ classenroll }} -->
    <div class="container mt-5" id="apptnotificationsContainer">
        {% for appointment in appointments %}
            <div class="card mb-2">
                <div class="card-header">
                        <h5 class="card-title">Appointment with {{ appointment.teacher }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ appointment.now }}</h6>
                </div>
                <div class="card-body">
                    {{ appointment.linkcont }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
</div>
</body>
<!-- <body style="background-color:#{{ color }};">
<div class="container mt-3 mb-3">
    <h1 class="text-center mb-3">{{ title }}</h1>
    {% if is_video == True %}
        <div class="embed-responsive embed-responsive-16by9">
            <video autoplay src="{{ image_file }}" controls style="height:auto"></video>
        </div>
    {% else %}
        <img class="rounded img-fluid mx-auto d-block mb-3" alt="Image" src="{{ image_file }}">
    {% endif %}
    <p class="text-center mt-3">This page has been viewed <span id="pageViews"></span> times!</p>
</div>

{% if chat_enabled == True %}
    <div class="container mt-5" id='submitForm'>
        <fieldset id="toggleFieldset">
            <div class="form-group">
                <input type="text" class="form-control" id="myName" placeholder="Your name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="myMessage" placeholder="Your message">
            </div>
            <button id="sendButton" class="btn btn-primary">Send</button>
        </fieldset>
    </div>


    <div class="container mt-5" id="messagesContainer">
        {% for message in messages %}
            <div class="card mb-2">
                <div class="card-header">
                    {% if message.name == '' %}
                        <h5 class="card-title">Anonymous</h5>
                    {% else %}
                        <h5 class="card-title">{{ message.name }}</h5>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ message.date_posted }}</h6>
                </div>
                <div class="card-body">
                    {% if message.content == '' %}
                        I forgot to add a message.
                    {% else %}
                        {{ message.content }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container mt-5" id="notificationsContainer">
        {% for notification in notifications %}
            <div class="card mb-2">
                <div class="card-header">
                        <h5 class="card-title">{{ notification.nameclass }}</h5>
                        <h5 class="card-title">{{ notification.now }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ notification.linkcont }}</h6>
                </div>
                <div class="card-body">
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}

    <div class="container">
        <div class="alert alert-info center-block" role="alert">
            <p class="text-center">Chat feature is currently disabled, check back later!</p>
        </div>
    </div>
{% endif %}
</body> -->
    <script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
</html>