<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="./static/css/formstyle.css" rel="stylesheet">

  </head>

  <body>
    {% block content %}{% endblock %}
  </body>

</html>