<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged out</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.4.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#edffff;">
<div class="container" style="height:300">
<div class="row h-100">
   <div class="col-sm-12 my-auto">
     <div class="card card-block w-25"><h2>You have been logged out.</h2></div>
   </div>
<div class="row h-100">
<a href="./">return to login</a>
</div>
</div>
</div>
</body>
</html>